<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moneybox.minimb.feature.login">

    <application>
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.MoneyBox">
            <intent-filter>
                <action android:name="com.moneybox.minimb.feature.login.open"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>